.message {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    max-width: 248px;
    word-break: break-word;
    height: fit-content;
    margin: 16px 32px 4px 32px;
}

.message .user-icon {
    margin: 8px;
}

.message-text {
    padding: 8px 12px 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: fit-content;
    height: fit-content;
    background: #E9EBED;
    border-radius: 16px;
}

.message-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height, or 133% */

    /* Steel/70 */
    color: #555F68;
}

p[data-sent="true"] {
    order: -1;
    background: #D9ECFD;
}

div[data-sent="true"] {
    flex-direction: row-reverse;
    align-self: flex-end;
}